<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>ALan nOoBdA</title>
    <!-- <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}"> -->
    <link rel="icon" type="image/x-icon" href="favicon.ico">
  </head>
  <body>
    <h1>Hello World!</h1>
    <h2>Welcome to FlaskApp!</h2>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"
      integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA=="
      crossorigin="anonymous"
    ></script>
    <script type="text/javascript" charset="utf-8">
      var socket = io();
      socket.on("connect", function () {
        socket.emit("message", { data: "Im connected!" });
        socket.on("message", (response) => {
          console.log(response);
        })
        console.log(socket.id);
      });
    </script>
  </body>
</html>
